body {
  background: #f5f5f5; }

header img {
  width: 18.75rem;
  height: 11rem; }

header p {
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem; }

header {
  position: relative; }

.p {
  width: 18.75rem; }

.p1 {
  font-size: 0.6rem;
  color: #fa0000;
  margin-left: 0.5rem;
  margin-top: 1.2rem; }

.p2, .p3 {
  color: #6f7474;
  font-size: 0.6rem;
  margin-top: 1.2rem;
  margin-left: 0.95rem; }

.house {
  color: #fff;
  background: #52cc52;
  width: 2.6rem;
  height: 0.9rem;
  text-align: center;
  line-height: 0.9rem;
  font-size: 0.6rem;
  margin-top: 0.6rem;
  margin-left: 0.5rem; }

.house-1 {
  font-size: 0.6rem;
  color: #595959;
  margin-left: 0.2rem;
  margin-top: 0.7rem; }

.list-1 {
  background: #fff;
  height: 3.8rem;
  width: 18.75rem;
  border-bottom: 0.05rem solid #d8d8d8; }

.list-2 {
  height: 5.3rem;
  width: 18.75rem;
  background: #fff;
  border-bottom: 0.05rem solid #d8d8d8;
  border-top: 0.05rem solid #d8d8d8;
  margin-top: 0.5rem; }

.num-1 {
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.8rem;
  margin-left: 0.5rem; }

.num-5 {
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.9rem;
  margin-left: 0.5rem; }

.num-9 {
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.9rem;
  margin-left: 0.5rem; }

.num-4, .num-2 {
  color: #333;
  font-size: 0.6rem;
  margin-top: 0.8rem;
  margin-left: 0.3rem; }

.num-6 {
  color: #333;
  font-size: 0.6rem;
  margin-top: 0.9rem;
  margin-left: 0.3rem; }

.num-10 {
  color: #333;
  font-size: 0.6rem;
  margin-top: 0.9rem;
  margin-left: 0.3rem; }

.num-3 {
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.8rem;
  margin-left: 3.4rem; }

.num-7 {
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.9rem;
  margin-left: 3.7rem; }

.num-8 {
  color: #333;
  font-size: 0.6rem;
  margin-top: 0.9rem;
  margin-left: 0.3rem; }

.house-type {
  width: 18.25rem;
  height: 2rem;
  background: #fff;
  font-size: 0.75rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  border-bottom: 0.05rem solid #d8d8d8;
  border-top: 0.05rem solid #d8d8d8; }

.img-1 {
  width: 4rem;
  height: 3rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.room-1 {
  font-size: 0.6rem;
  color: #333;
  margin-left: 3.4rem;
  margin-top: 1.75rem; }

.room-3 {
  font-size: 0.6rem;
  color: #333;
  margin-left: 3rem;
  margin-top: 1.75rem; }

.room-2 {
  font-size: 0.6rem;
  color: #fa0000;
  margin-left: 3.4rem;
  margin-top: 1.75rem; }

.p-1 {
  width: 17.7rem;
  border-bottom: 0.05rem solid #d8d8d8;
  margin-left: 0.5rem; }

.p-2 {
  border-bottom: none; }

.p-3 {
  background: #fff;
  border-bottom: 0.05rem solid #d8d8d8; }

.detail {
  font-size: 0.7rem;
  color: #333;
  border-bottom: 0.05rem solid #d8d8d8;
  border-top: 0.05rem solid #d8d8d8;
  background: #fff;
  padding: 0.7rem 0 0.7rem 0.5rem; }

.detail-1 {
  margin-top: 0.5rem;
  background: #fff;
  border-bottom: 0.05rem solid #d8d8d8;
  width: 18.75rem;
  padding-bottom: 0.5rem; }

.name {
  font-size: 0.7rem;
  color: #999;
  padding: 0.8rem 0 0 0.5rem; }

.user {
  font-size: 0.7rem;
  color: #333;
  padding: 0.8rem 0 0 0; }

.size {
  width: 10rem; }

.name-1 {
  margin-left: 2rem; }

.line {
  width: 17.75rem;
  border-bottom: 0.05rem solid #d8d8d8;
  margin-left: 0.5rem;
  margin-top: 0.7rem; }

.name-2 {
  margin-left: 4.9rem; }

.name-3 {
  margin-left: 3.7rem; }

.end {
  width: 18.75rem;
  height: 2.2rem;
  background: #55a4f2;
  text-align: center;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.85rem; }
