html {
  font-size: 20px; }

/*
width:px2rem(20px);*/
header {
  height: 2.2rem;
  width: 100%;
  line-height: 2.2rem;
  background: #df3031; }
  header a {
    color: #fff;
    font-size: 0.8rem;
    margin-left: 0.7rem; }
  header span {
    color: #fff;
    font-size: 0.9rem;
    margin-left: 6.5rem; }

section {
  background: #f5f5f9;
  /*text-align: center;*/
  width: 100%;
  height: 30.6rem;
  padding-top: 0.6rem; }
  section .sec1 {
    width: 100%;
    background: #fff;
    height: 5.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 0.8rem; }
    section .sec1 li {
      -webkit-box-flex: 1;
      display: -webkit-box;
      border-bottom: 0.05rem solid #e7e7e7; }
      section .sec1 li span {
        font-size: 0.8rem;
        color: #252525;
        display: block;
        margin-top: 0.9rem;
        margin-left: 0.8rem;
        margin-right: 1rem; }
      section .sec1 li input {
        display: block;
        width: 100%;
        height: 2.5rem;
        font-size: 0.8rem;
        color: #b2b8c2;
        line-height: normal;
        -webkit-box-flex: 1;
        border: none; }
  section a {
    width: 17.3rem;
    height: 2.3rem;
    background: #eca6a8;
    text-align: center;
    line-height: 2.3rem;
    font-size: 0.9rem;
    color: #f9f9fb;
    border-radius: 0.4rem;
    display: inline-block;
    margin-left: 0.8rem; }
